<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jalen.materialdesign">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.toolbar.ToolbarActivity" />
        <activity android:name=".activity.snackbar.SnackbarActivity" />
        <activity android:name=".activity.floatingactionbutton.FloatingActionButtonActivity" />
        <activity android:name=".activity.appbar.AppBarLayoutActivity" />
        <activity android:name=".activity.dialog.BottomSheetDialogActivity" />
        <activity android:name=".activity.tab.TabLayoutBottomActivity" />
        <activity android:name=".activity.tab.TabLayoutTopActivity" />
        <activity android:name=".activity.drawer.DrawerLayoutSimpleActivity" />
        <activity android:name=".activity.drawer.DrawerLayoutAnimationActivity" />
        <activity android:name=".activity.refresh.SwipeRefreshLayoutActivity" />
        <activity android:name=".activity.recyclerview.LinearVerticalActivity" />
        <activity android:name=".activity.recyclerview.LinearHorizantalActivity" />
        <activity android:name=".activity.recyclerview.StaggeredActivity" />
        <activity android:name=".activity.recyclerview.GridActivity" />
        <activity android:name=".activity.searchview.SeachViewActivity" />
        <activity android:name=".activity.searchview.SearchViewToolbarActivity" />
        <activity android:name=".activity.textinput.TextInputLayoutActivity" />
        <activity android:name=".activity.palette.PaletteActivity" />
        <activity android:name=".activity.recyclerview_refresh_autoloadmore.RecyclerViewRefreshAutoLoadMoreActivity" />
    </application>

</manifest>